asyncio-redis==0.16.0
ChatterBot==1.1.0
chatterbot-corpus==1.2.0
Jinja2==2.11.3
python-dateutil==2.8.0
requests==2.21.0
responses==0.10.6
sanic==20.9.1
sanic-session==0.7.3
spacy==2.1.9
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.1.0/en_core_web_sm-2.1.0.tar.gz
