aiofiles==0.3.1
aiohttp==2.0.3
appdirs==1.4.3
argh==0.26.2
async-timeout==1.2.0
asyncio-redis==0.14.3
certifi==2017.7.27.1
chardet==3.0.4
ChatterBot==0.7.6
chatterbot-corpus==1.0.1
future==0.16.0
httptools==0.0.9
idna==2.6
Jinja2==2.9.6
jsondatabase==0.1.7
MarkupSafe==1.0
multidict==2.1.4
nltk==3.2.4
oauthlib==2.0.3
packaging==16.8
pathtools==0.1.2
py==1.4.33
pymongo==3.5.1
pyparsing==2.2.0
pytest==3.0.7
python-dateutil==2.6.1
python-twitter==3.3
PyYAML==3.12
requests==2.18.4
requests-oauthlib==0.8.0
ruamel.yaml==0.15.0
sanic==0.6.0
sanic-session==0.1.5
six==1.10.0
SQLAlchemy==1.1.14
ujson==1.35
urllib3==1.22
uvloop==0.8.0
watchdog==0.8.3
websockets==3.4
yarl==0.10.0
