{% extends 'layout.html' %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-4 mx-auto text-center">
      <h1>Hipster Robot</h1>
      <img id="hipster-robot" class="img-fluid" src="/img/robot.png"></img>
      <div>
        <p class="lead">Hipster Curious, Robot Interested</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 mx-auto">
      <div id="app"></div>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script src="/js/index.js"></script>
{% endblock %}
