{% extends 'layout.html' %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-xs-offset-4 col-xs-4">
      <h1 class="text-center">Hipster Robot</h1>
      <div class="center-block">
        <img class="img-responsive" src="/img/robot.png"></img>
      </div>
      <div class="text-center">
        <p class="lead">Hipster Curious, Robot Interested</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-offset-4 col-xs-4">
      <div id="app"></div>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script src="/js/index.js"></script>
{% endblock %}
