<!DOCTYPE html>
<html>
  <head>
    <title>Hipster Robot</title>
    <link href="/css/main.css" rel="stylesheet">
    <link rel="shortcut icon" href="/img/favicon.png">
  </head>
  <body>
    {% block content %}{% endblock %}
    <script src="/js/vendor.js"></script>
    {% block scripts %}{% endblock %}
    <hr>
    <footer>
      <div class="container">
        <p class="text-center social">
          <a href="https://github.com/dlebech/hipster-robot" aria-label="Github">
            Source Code
          </a>
        </p>
      </div>
    </footer>
  </body>
</html>
