<!DOCTYPE html>
<html>
  <head>
    <title>Hipster Robot</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,400i,700,700i" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="/css/main.css" rel="stylesheet">
    <link rel="shortcut icon" href="/img/favicon.png">
  </head>
  <body>
    {% block content %}{% endblock %}
    <script src="/js/vendor.js"></script>
    {% block scripts %}{% endblock %}
    <hr>
    <footer>
      <div class="container">
        <p class="text-center social">
          <a class="btn btn-light github" href="https://github.com/hipster-robot/hipster-robot" aria-label="Github">
            <i class="fa fa-2x fa-github" aria-hidden="true"></i>
          </a>
          <a class="btn btn-light twitter" href="https://twitter.com/hipster_robot" aria-label="Twitter">
            <i class="fa fa-2x fa-twitter on fa-square-o" aria-hidden="true"></i>
          </a>
        </p>
      </div>
    </footer>
  </body>
</html>
